.__container--details {
    height: calc(100vh - 160px);
    width: 100%;
    margin: 10px auto 10px auto;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
}


/* .__container--details pre {
    display: block;
    width: 45%;
    height: 200px;
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    margin-bottom: 2%;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px var(--golden-color);
    overflow-y: scroll;
    overflow-x: scroll;
    color: var(--white-color);
    text-align: justify;
    scrollbar-width: none;
    font-size: 13px;
} */