/* Style the buttons that are used to open and close the accordion panel */

.__accordion {
    background: var(--black-color);
    box-shadow: var(--box-shadow);
    display: block;
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 15px;
    border-radius: 7px 7px 0 0;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.__accordion:hover {
    background: var(--black-color);
    box-shadow: var(--box-shadow-white);
}


/* Style the accordion panel. Note: hidden by default */

.__panel {
    padding: 5px 18px 0 18px;
    width: 100%;
    background: var(--black-color);
    max-height: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 7px 7px;
    visibility: hidden;
}

.activePanel {
    box-shadow: var(--box-shadow-white);
    visibility: visible;
}

.__accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--white-color);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}