footer {
    background-color: #000;
    color: #fff;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    box-shadow: var(--box-shadow);
}