nav {
    background: var(--black-color) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    padding: 0px 5%;
    height: 80px;
    width: 100%;
    box-shadow: var(--box-shadow);
    text-shadow: 1px 1px 20px var(--blue-color);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0px 15px;
}

nav ul li a {
    color: var(--white-color);
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 32px;
    transition: all .5s ease;
}

nav ul li a:hover::after {
    Width: 100%
}